@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <script type="text/javascript">console.log('Styles');</script>
}

@section Scripts {
    <script type="text/javascript">console.log('Scripts');</script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


